build/
bld/
ext/
.vscode/
.vs/
.idea/
cmake-build-debug/
cmake-build-debug-visual-studio/
out/
trunwindows/Debug/
trunwindows/x64/
trunwindows/.vs/
trunwindows/trunwindows.vcxproj.user
*.obj
trunwindows/*/x64